*, *:before, *:after {
  box-sizing: inherit; }

body, html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  color: #010101; }

html {
  font-size: 16px; }
  @media (min-width: 1600px) and (max-width: 1800px) {
    html {
      font-size: 17px; } }
  @media (min-width: 1800px) {
    html {
      font-size: 18px; } }

.title {
  font-size: 2rem; }

.subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: #313841; }

.list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.link {
  text-decoration: none; }

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #fcdb00;
  transition: top 0.5s;
  z-index: 100; }
  @media (min-width: 800px) {
    .nav {
      padding-right: 10%;
      padding-left: 10%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 140px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      transition: height 0.8s; } }
  @media (min-width: 900px) {
    .nav {
      padding-right: 17%;
      padding-left: 17%; } }

@media (min-width: 800px) {
  .nav--shrink {
    height: 60px; } }

@media (max-width: 799px) {
  .nav__logo {
    margin-top: 8px;
    margin-left: 10%; } }

.nav__button {
  background-color: inherit;
  border: none;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  right: 10px;
  transition: top 0.5s; }
  .nav__button:focus {
    outline: none; }
  @media (min-width: 800px) {
    .nav__button {
      display: none; } }

@media (max-width: 799px) {
  .nav__list {
    transition: all ease 1s;
    height: 0;
    text-align: center;
    margin: auto;
    width: 100%;
    overflow: hidden;
    background-color: #fcdb00;
    display: flex;
    flex-direction: column;
    justify-content: space-around; } }
@media (min-width: 800px) {
  .nav__list {
    height: initial; } }

@media (max-width: 799px) {
  .nav__list--expanded {
    height: 50vh; } }

.nav__item {
  font-weight: 700;
  font-size: 1.4rem; }
  @media (max-width: 799px) {
    .nav__item {
      overflow: hidden;
      opacity: 0;
      transition: all ease 0.5s; } }
  @media (min-width: 800px) {
    .nav__item {
      float: left; }
      .nav__item:nth-child(-n+2) {
        margin-right: 60px; } }

.nav__item--expanded {
  opacity: 1; }

.nav__link {
  color: #010101; }

.section {
  min-height: 100vh;
  width: 100%;
  padding: 5% 10%; }
  @media (orientation: portrait) {
    .section {
      padding-top: 15%;
      padding-bottom: 15%; } }
  @media (orientation: portrait) and (min-width: 700px) {
    .section {
      padding-right: 14%;
      padding-left: 14%; } }
  @media (min-width: 900px) {
    .section {
      padding-right: 17%;
      padding-left: 17%; } }

.section--theme-header {
  background-color: #fcdb00;
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 800px) {
    .section--theme-header {
      padding-top: 140px;
      padding-bottom: 0; } }

.slide {
  overflow: hidden;
  display: none;
  align-items: center; }
  @media (min-width: 700px) {
    .slide {
      align-items: center;
      justify-content: space-between;
      flex-direction: column; } }
  @media (orientation: landscape) and (min-width: 800px) {
    .slide {
      flex-direction: row; } }
  @media (orientation: portrait) and (min-width: 1200px) {
    .slide {
      flex-direction: row; } }

.slide--active {
  display: flex; }

@media (orientation: portrait) and (min-width: 700px) {
  .slide__content {
    width: 70%; } }
@media (orientation: landscape) and (min-width: 900px) {
  .slide__content {
    width: 50%;
    padding-right: 5%;
    margin-bottom: 75px; } }

.slide__title {
  margin-bottom: 0; }

.slide__text {
  font-size: 1rem;
  color: #555555; }

.slide__icon {
  margin-top: 4%; }
  .slide__icon:nth-of-type(-n+2) {
    margin-right: 32px; }

@media (max-width: 699px) {
  .slide__img {
    display: none; } }
@media (min-width: 700px) and (orientation: landscape) {
  .slide__img {
    width: 35%; } }
@media (min-width: 700px) and (orientation: portrait) {
  .slide__img {
    width: 45%;
    margin-top: 50px; } }

@media (orientation: landscape) and (min-width: 800px) {
  .slide__img {
    margin-top: 0;
    margin-left: 30px; } }
@media (min-width: 1000px) {
  .slide__img {
    width: initial;
    margin-right: 5%; } }

/* The dots/bullets/indicators */
.indicator {
  width: 100%;
  overflow: hidden;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; }

.indicator_dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.indicator_dot--active {
  background-color: white; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
.section--theme-features {
  background-color: white;
  display: flex; }

.section__wrap {
  margin: auto; }

.section__title {
  margin: 0; }
  @media (min-width: 700px) {
    .section__title {
      text-align: center; } }

.section__subtitle {
  margin: 10px auto 20px auto; }
  @media (min-width: 700px) {
    .section__subtitle {
      width: 72%;
      text-align: center; } }
  @media (min-width: 700px) and (orientation: landscape) {
    .section__subtitle {
      text-align: justify;
      text-align-last: center; } }

.features {
  display: flex;
  flex-wrap: wrap; }

.features__card {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px; }
  @media (min-width: 700px) {
    .features__card {
      width: 50%;
      margin-top: 60px; } }
  @media (min-width: 1200px) {
    .features__card {
      width: 33%; } }

.features__icon-container {
  width: 25%;
  text-align: center; }

.features__icon {
  margin: auto; }

.features__content {
  width: 75%;
  padding-left: 15px; }

.features__title {
  margin: 0;
  font-weight: 400;
  font-size: 1.4rem; }

.features__text {
  color: #898989; }

.section--theme-contact {
  background-color: #010101;
  color: white;
  display: flex; }
  @media (orientation: portrait) and (min-width: 700px) {
    .section--theme-contact {
      min-height: auto; } }

.section__title--theme-contact {
  color: #fcdb00; }

.section__subtitle--theme-contact {
  color: #898989; }

.form {
  margin: auto;
  margin-top: 40px; }
  @media (max-width: 699px) {
    .form {
      height: 140px; } }
  @media (min-width: 700px) {
    .form {
      width: 72%;
      height: 50px; } }

.form__input {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #fcdb00; }
  @media (max-width: 699px) {
    .form__input {
      width: 100%;
      height: 50%; } }
  @media (min-width: 700px) {
    .form__input {
      width: 80%;
      height: 100%; } }

.form__button {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fcdb00;
  transition: background-color ease 0.5s;
  border: none;
  border-radius: 5px;
  cursor: pointer; }
  .form__button:hover {
    background-color: #c9af00; }
  .form__button:focus {
    background-color: #e3c500; }
  .form__button:active {
    background-color: #b09900; }
  .form__button:focus {
    outline: none; }
  @media (max-width: 699px) {
    .form__button {
      width: 100%;
      height: 50%;
      margin-top: 5px; } }
  @media (min-width: 700px) {
    .form__button {
      width: 17%;
      height: 100%;
      float: right; } }

.link-cont {
  text-align: center;
  margin-top: 40px; }
  @media (min-width: 700px) {
    .link-cont {
      margin-top: 60px; } }

.link-cont__link {
  color: #fcdb00; }
  .link-cont__link:nth-child(-n+3) {
    margin-right: 30px; }

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center; }
  @media (min-width: 700px) {
    .footer {
      padding-right: 5%;
      text-align: left;
      margin-top: 10%; } }

.footer__text {
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid #313841;
  margin: 50px auto 25px auto; }
  @media (min-width: 700px) {
    .footer__text {
      width: auto;
      margin: initial;
      padding: initial;
      border: none; } }

.footer__list {
  width: 100%; }
  @media (min-width: 400px) {
    .footer__list {
      width: auto; } }

.footer__item {
  margin-bottom: 20px; }
  @media (min-width: 400px) {
    .footer__item {
      margin-bottom: initial; } }

.footer__link {
  color: white; }
  @media (max-width: 699px) {
    .footer__link {
      text-decoration: underline; } }

@media (max-width: 799px) {
  .scroll-hide {
    top: -1000px; } }

/*# sourceMappingURL=master.css.map */
