@import '_variables';

*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  color: $color-primary;
}

html {
  font-size: 17px;
  @media (min-width: 1400px) and (max-width: 1600px) {
    font-size: 16px;
  }
  @media (min-width: 1800px) {
    font-size: 18px;
  }
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}
