@import '_variables';

*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  color: $color-primary;
}

html {
  font-size: 16px;
  @media (min-width: $min-xl-1) and (max-width: $min-xl-2) {
    font-size: 17px;
  }
  @media (min-width: $min-xl-2) {
    font-size: 18px;
  }
}

.title {
  font-size: 2rem;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: $color-text1;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.scroll-hide {
  @media (max-width: $max-sm-2){
    top: -1000px;
  }
}
