$color-primary: #010101;
$color-secondary: white;
$color-accent: #fcdb00;
$color-text1: #313841;
$color-text2: #555555;
$color-text3: #898989;

$percentage-sm: 10%;
$percentage-md: 14%;
$percentage-lg: 17%;
$percentage-xl: 20%;


$min-xs: 400px;
$min-sm-1: 700px;
$min-sm-2: 800px;
$min-md-1: 900px;
$min-md-2: 1000px;
$min-l: 1200px;
$min-xl-1: 1600px;
$min-xl-2: 1800px;

$max-sm-1: 699px;
$max-sm-2: 799px;
