$color-primary: #010101;
$color-secondary: white;
$color-accent: #fcdb00;
$color-text1: #313841;
$color-text2: #555555;
$color-text3: #898989;

$percentage-sm: 10%;
$percentage-md: 12%;
$percentage-lg: 16%;
$percentage-xl: 20%;
