@import '_variables';
@import '_base';
@import '_mixins';

@import './components/_nav';
@import './components/_section';
@import './components/_slide';
@import './components/_indicator';
@import './components/_card';
@import './components/_form';
@import './components/_link-cont';
@import './components/_footer';


.scroll-hide {
  @media (max-width: $max-sm-2){
    top: -1000px;
  }
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
