@import '_base';
@import '_mixins';
@import '_variables';

// Navigation

.nav-toggler {
  background-color: inherit;
  border: none;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  right: 10px;
  outline: none;
  @media (min-width: 800px) {
    display: none;
  }
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: $color-accent;
  @media (min-width: 800px) {
    @include horizontal-padding($percentage-sm);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    height: 140px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: none;
  }
  @media (min-width: 900px) {
    @include horizontal-padding($percentage-lg);
  }
}

.nav__logo {
  @media (max-width: 799px) {
    margin-top: 8px;
    margin-left: $percentage-sm;
  }
}


.nav__list {
  @media (max-width: 799px) {
    transition: all ease 1s;
    height: 0;
    text-align: center;
    margin: auto;
    width: 100%;
    overflow: hidden;
    background-color: $color-accent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  @media (min-width: 800px) {
    height: initial;
  }
}

.nav__list--expanded {
  @media (max-width: 799px) {
    height: 50vh;
  }
}

.nav__item {
  font-weight: 700;
  font-size: 1.4rem;
  @media (max-width: 799px) {
    overflow: hidden;
    opacity: 0;
    transition: all ease 0.5s;
  }
  @media (min-width: 800px) {
    float: left;
    &:nth-child(-n+2){
      margin-right: 60px;
    }
  }
}

.nav__item--expanded {
  opacity: 1;
}

.nav__link {
  color: $color-primary;
}


// Section
.section {
  min-height: 100vh;
  width: 100%;
  padding: 5% 10%;
  @media (orientation: portrait) {
    padding-top: 15%;
    padding-bottom: 15%;
  }
  @media (orientation: portrait) and (min-width: 700px) {
    @include horizontal-padding($percentage-md);
  }
  @media (min-width: 900px) {
    @include horizontal-padding($percentage-lg);
  }
}

.section__content {
  @media (orientation: portrait) and (min-width: 700px) {
    width: 70%;
  }
  @media (orientation: landscape) and (min-width: 900px) {
    width: 50%;
    padding-right: 5%;
  }
}

.section__title {
  font-size: 2rem;
}

.section__subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: $color-text1;
}

.section__text {
  font-size: 1rem;
}

.section__icon {
  margin-top: 5%;
  &:nth-of-type(-n+2) {
    margin-right: 35px;
  }
}

.section__img {
  @media (max-width: 699px) { /////////////// max-width
    display: none;
  }
  @media (min-width: 700px) {
    margin-top: 50px;
    @media (orientation: landscape) { ///////////to check
      width: 35%;
    }
    @media (orientation: portrait) {
      width: 45%;
    }
  }
  @media (orientation: landscape) and (min-width: 800px) {
    margin-left: 30px;
  }
  @media (min-width: 1000px) {
    width: initial;
    margin-right: 5%;
  }
}

.section--theme-header {
  background-color: $color-accent;
  overflow: hidden;
  display: flex;
  align-items: center;
  @media (min-width: 700px) {
    // margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  @media (orientation: landscape) and (min-width: 800px) {
    flex-direction: row;
  }
  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.section__text--theme-header {
  color: $color-text2;
}


// Section: Features

.section--theme-features {
  background-color: $color-secondary;
  display: flex;
}

.section__wrap {
  margin: auto;
}

.section__title--theme-features {
  @include title-style;
}

.section__subtitle--theme-features {
  @include subtitle-style;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.features__card {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  @media (min-width: 700px) {
    width: 50%;
    margin-top: 60px;
  }
  @media (min-width: 1200px) {
    width: 33%;
  }
}

.features__icon-container {
  width: 25%;
  text-align: center;
}

.features__icon {
  margin: auto;
}

.features__content {
  width: 75%;
  padding-left: 15px;
}

.features__title {
  margin: 0;
  font-weight: 400;
  font-size: 1.4rem;
}

.features__text {
  color: $color-text3;
}


// Section: Contact

.section--theme-contact {
  background-color: $color-primary;
  color: $color-secondary;
  display: flex;
  @media (orientation: portrait) and (min-width: 700px) {
    min-height: auto;
  }
}

.section__title--theme-contact {
  @include title-style;
  color: $color-accent;
}

.section__subtitle--theme-contact {
  @include subtitle-style;
  color: $color-text3;
}

.form {
  margin: auto;
  margin-top: 40px;
  @media (max-width: 699px) { /////////////// max-width
    height: 140px;
  }
  @media (min-width: 700px) {
    width: 72%;
    height: 50px;
  }
}

.form__input {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  &:focus {
    outline: none;
    box-shadow: 0 0 1px 1px $color-accent;
  }
  @media (max-width: 699px) { /////////////// max-width
    width: 100%;
    height: 50%;
  }
  @media (min-width: 700px) { /////////////// max-width
    width: 80%;
    height: 100%;
  }
}

.form__button {
  // margin: auto;
  @include hover-focus-active($color-accent);
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $color-accent;
  transition: background-color ease 0.5s;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  @media (max-width: 699px) { /////////////// max-width
    width: 100%;
    height: 50%;
    margin-top: 5px;
  }
  @media (min-width: 700px) {
    width: 17%;
    height: 100%;
    float: right;
  }
}

.link-cont {
  text-align: center;
  margin-top: 40px;
  @media (min-width: 700px) {
    margin-top: 60px;
  }
}

.link-cont__link {
  color: $color-accent;
  &:nth-child(-n+3) {
    margin-right: 30px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  @media (min-width: 700px) {
    padding-right: 5%;
    text-align: left;
    margin-top: 10%;
  }
}

.footer__text {
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid $color-text1;
  margin: 50px auto 25px auto;
  @media (min-width: 700px) {
    width: auto;
    margin: initial;
    padding: initial;
    border: none;
  }
}

.footer__list {
  width: 100%;
  @media (min-width: 400px) {
    width: auto;
  }
}

.footer__item {
  margin-bottom: 20px;
  @media (min-width: 400px) {
    margin-bottom: initial;
  }
}

.footer__link {
  color: $color-secondary;
  @media (max-width: 699px) {
    text-decoration: underline;
  }
}
