@import '_base';
@import '_mixins';

// Navigation

.nav {
  // position: fixed;                                Only temporarly
  top: 0;
  height: 100vh;
  width: 100%;
  padding-left: 12%;
  padding-right: 12%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fcdb00;
  @media (min-width: 700px) {
    height: 140px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: 900px) {
    padding-left: 16%;
    padding-right: 16%;
  }
}


.nav__item {
  font-weight: 700;
  font-size: 1.4rem;
  @media (min-width: 700px) {
    float: left;
    &:nth-child(-n+2){
      margin-right: 60px;
    }
  }
}

.nav__link {
  color: #010101;
}


// Section
.section {
  min-height: 100vh;
  width: 100%;
  padding: 5% 10%;
  @media (orientation: portrait) {
    padding-top: 15%;
    padding-bottom: 15%;
  }
  @media (orientation: portrait) and (min-width: 700px) {
    padding-left: 12%;
    padding-right: 12%;
  }
  @media (min-width: 900px) {
    padding-left: 16%;
    padding-right: 16%;
  }
}

.section__content {
  @media (orientation: portrait) and (min-width: 700px) {
    width: 70%;
  }
  @media (orientation: landscape) and (min-width: 900px) {
    width: 50%;
    padding-right: 5%;
  }
}

.section__title {
  font-size: 2rem;
}

.section__subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: #313841;
}

.section__text {
  font-size: 1rem;
}

.section__icon {
  margin-top: 5%;
  &:nth-of-type(-n+2) {
    margin-right: 35px;
  }
}

.section__img {
  @media (max-width: 699px) { /////////////// max-width
    display: none;
  }
  @media (orientation: landscape) and (min-width: 700px) { ///////////to check
    width: 35%;
  }
  @media (orientation: portrait) and (min-width: 700px) {
    width: 45%;
  }
  @media (min-width: 900px) {
    width: initial;
    margin-right: 5%;
  }
}

.section--theme-header {
  background-color: #fcdb00;
  overflow: hidden;
  display: flex;
  align-items: center;
  @media (min-width: 700px) {
    // margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  @media (orientation: landscape) and (min-width: 800px) {
    flex-direction: row;
  }
  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.section__text--theme-header {
  color: #555555;
}


// Section: Features

.section--theme-features {
  background-color: white;
  display: flex;
}

.section__wrap {
  margin: auto;
}

.section__title--theme-features {
  @include title-style;
}

.section__subtitle--theme-features {
  @include subtitle-style;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.features__card {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  @media (min-width: 700px) {
    width: 50%;
    margin-top: 60px;
  }
  @media (min-width: 1200px) {
    width: 33%;
  }
}

.features__icon-container {
  width: 25%;
  text-align: center;
}

.features__icon {
  margin: auto;
}

.features__content {
  width: 75%;
  padding-left: 15px;
}

.features__title {
  margin: 0;
  font-weight: 400;
  font-size: 1.4rem;
}

.features__text {
  color: #898989;
}


// Section: Contact

.section--theme-contact {
  background-color: #010101;
  color: white;
  display: flex;
  @media (orientation: portrait) and (min-width: 700px) {
    min-height: auto;
  }
}

.section__title--theme-contact {
  @include title-style;
  color: #fcdb00;
}

.section__subtitle--theme-contact {
  @include subtitle-style;
  color: #898989;
}

.form {
  margin: auto;
  margin-top: 40px;
  @media (max-width: 699px) { /////////////// max-width
    height: 140px;
  }
  @media (min-width: 700px) {
    width: 72%;
    height: 50px;
  }
}

.form__input {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  &:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #fcdb00;
  }
  @media (max-width: 699px) { /////////////// max-width
    width: 100%;
    height: 50%;
  }
  @media (min-width: 700px) { /////////////// max-width
    width: 80%;
    height: 100%;
  }
}

.form__button {
  // margin: auto;
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fcdb00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  @media (max-width: 699px) { /////////////// max-width
    width: 100%;
    height: 50%;
    margin-top: 5px;
  }
  @media (min-width: 700px) {
    width: 17%;
    height: 100%;
    float: right;
  }
}

.link-cont {
  text-align: center;
  margin-top: 40px;
  @media (min-width: 700px) {
    margin-top: 60px;
  }
}

.link-cont__link {
  color: #fcdb00;
  &:nth-child(-n+3) {
    margin-right: 30px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  @media (min-width: 700px) {
    padding-right: 5%;
    text-align: left;
    margin-top: 10%;
  }
}

.footer__text {
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid #313841;
  margin: 50px auto 25px auto;
  @media (min-width: 700px) {
    width: auto;
    margin: initial;
    padding: initial;
    border: none;
  }
}

.footer__list {
  width: 100%;
  @media (min-width: 400px) {
    width: auto;
  }
}

.footer__item {
  margin-bottom: 20px;
  @media (min-width: 400px) {
    margin-bottom: initial;
  }
}

.footer__link {
  color: white;
  @media (max-width: 699px) {
    text-decoration: underline;
  }
}
