.card {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 40px;
  @media (min-width: $min-sm-1) {
    width: 50%;
    margin-top: 60px;
  }
  @media (min-width: $min-l) {
    width: 33%;
  }
}

.card__icon-container {
  width: 25%;
  text-align: center;
}

.card__icon {
  margin: auto;
}

.card__content {
  width: 75%;
  padding-left: 15px;
}

.card__title {
  margin: 0;
  font-weight: 400;
  font-size: 1.4rem;
}

.card__text {
  color: $color-text3;
}
