.footer {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  text-align: center;
  @media (min-width: $min-sm-1) {
    padding-right: 6%;
    margin-top: 10%;
    text-align: left;
  }
}

.footer__text {
  width: 100%;
  padding-bottom: 25px;
  margin: 50px auto 25px auto;
  font-style: normal;
  border-bottom: 1px solid $color-text1;
  @media (min-width: $min-sm-1) {
    width: auto;
    padding: initial;
    margin: initial;
    border: none;
  }
}

.footer__list {
  width: 100%;
  @media (min-width: $min-xs) {
    width: auto;
  }
}

.footer__item {
  margin-bottom: 20px;
  @media (min-width: $min-xs) {
    margin-bottom: initial;
  }
}

.footer__link {
  @media (max-width: $max-sm-1) {
    text-decoration: underline;
  }
  &:hover {
    color: darken( $color-secondary, 25% );
  }
}

.footer__link--email {
  line-height: 1.6;
}
