.nav {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  background-color: $color-accent;
  @include transition(top 0.5s);
  @media (min-width: $min-sm-2) {
    @include horizontal-padding($percentage-sm);
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    height: 140px;
    @include transition(height 0.8s);
  }
  @extend %padding-media-query;
}

.nav--shrink {
  @media (min-width: $min-sm-2) {
    height: 60px;
  }
}

.nav__logo {
  @media (max-width: $max-sm-2) {
    margin-top: 8px;
    margin-left: $percentage-sm;
  }
}

.nav__button {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: inherit;
  border: none;
  border-radius: 5px;
  @include transition(top 0.5s);
  &:focus {
    outline: none;
  }
  @media (min-width: $min-sm-2) {
    display: none;
  }
}

.nav__list {
  @media (max-width: $max-sm-2) {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-around);
    width: 100%;
    height: 0;
    overflow: hidden;
    border-bottom: 1px solid #ffdd0000;
    background-color: $color-accent;
    text-align: center;
    @include transition(all ease 1s);
  }
  @media (min-width: $min-sm-2) {
    height: initial;
  }
}

.nav__list--expanded {
  @media (max-width: $max-sm-2) {
    height: 50vh;
    border-bottom: 1px solid #ffe53a;
  }
}

.nav__item {
  font-size: 1.4rem;
  font-weight: 700;
  @media (max-width: $max-sm-2) {
    overflow: hidden;
    opacity: 0;
    @include transition(all ease 0.5s);
  }
  @media (min-width: $min-sm-2) {
    float: left;
    &:nth-child(-n+2){
      margin-right: 75px;
    }
  }
}

.nav__item--expanded {
  opacity: 1;
}

.nav__link {
  &:hover {
    color: lighten( $color-primary, 45%);
  }
}
