.slide {
  display: none;
  overflow: hidden;
}

.slide--active {
  display: flex;
  align-items: center;
  @media (min-width: $min-sm-1) {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  @media (orientation: landscape) and (min-width: $min-sm-2) {
    flex-direction: row;
  }
  @media (orientation: portrait) and (min-width: $min-l) {
    flex-direction: row;
  }
}

.slide__content {
  @media (orientation: landscape) and (min-width: $min-md-1) {
    width: 50%;
    padding-right: 5%;
    margin-bottom: 75px;
  }
}

.slide__title {
  margin-bottom: 0;
}

.slide__text {
  font-size: 1rem;
  color: $color-text2;
}

.slide__icon {
  margin-top: 4%;
  &:nth-of-type(-n+2) {
    margin-right: 32px;
  }
}

.slide__img {
  @media (max-width: $max-sm-1) {
    display: none;
  }
  @media (min-width: $min-sm-1) {
    margin-top: 50px;
    @media (orientation: landscape) {
      width: 35%;
    }
    @media (orientation: portrait) {
      width: 45%;
    }
  }
  @media (orientation: landscape) and (min-width: $min-sm-2) {
    margin-top: 0;
    margin-left: 30px;
  }
  @media (min-width: $min-md-2) {
    width: initial;
    margin-right: 4%;
  }
}
