*, *:before, *:after {
  box-sizing: inherit;
  // attempt to fix the issue with disappearing content
  &:not(html) {
    -webkit-transform: translate3d(0, 0, 0);
}
}

body, html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  color: $color-primary;
}

html {
  font-size: 16px;
  @media (min-width: $min-xl-1) and (max-width: $min-xl-2) {
    font-size: 18px;
  }
  @media (min-width: $min-xl-2) {
    font-size: 19px;
  }
}

.title {
  font-size: 2rem;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: $color-text1;
  line-height: 1.2;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: inherit;
  @include transition(color ease 0.5s);
}
